CreatorAPI/CreatorAPI/Connected Services/MieRequestWCF/epcvRequestWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.mie.co.za" elementFormDefault="qualified" targetNamespace="www.mie.co.za" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.mie.co.za/secure/services/epcvRequestWCF/epcvRequestWCF.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/epcvRequestWCF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q1:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="GetItemTypesResult" nillable="true" type="q2:ArrayOfItemTypeProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q3:Token" />
        <xs:element minOccurs="0" name="itemTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="GetItemTypeResult" nillable="true" type="q4:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q5:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="GetTablesResult" nillable="true" type="q6:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q7:Token" />
        <xs:element minOccurs="0" name="tableKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="GetTableResult" nillable="true" type="q8:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q9:Token" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="request" nillable="true" type="q10:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q11:Token" />
        <xs:element minOccurs="0" name="requestKey" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFingerprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q12:Token" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFingerprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFingerprintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAddInfoText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q13:Token" />
        <xs:element minOccurs="0" name="requestKey" type="xs:int" />
        <xs:element minOccurs="0" name="credentialKey" type="xs:int" />
        <xs:element minOccurs="0" name="addInfoTypeKey" type="xs:int" />
        <xs:element minOccurs="0" name="addInfoKey" type="xs:int" />
        <xs:element minOccurs="0" name="feedback" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAddInfoTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequestDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q14:Token" />
        <xs:element minOccurs="0" name="requestKey" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequestDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAddInfoDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/epcvRequestWCF" minOccurs="0" name="token" nillable="true" type="q15:Token" />
        <xs:element minOccurs="0" name="requestKey" type="xs:int" />
        <xs:element minOccurs="0" name="credentialKey" type="xs:int" />
        <xs:element minOccurs="0" name="addInfoTypeKey" type="xs:int" />
        <xs:element minOccurs="0" name="addInfoKey" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAddInfoDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>