CreatorAPI/CreatorAPI/Connected Services/MieWebservice/epcvRequestWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="www.mie.co.za" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="epcvRequestWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DefaultLive_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="www.mie.co.za" location="https://www.mie.co.za/secure/services/epcvRequestWCF/epcvRequestWCF.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="DefaultLive" type="i0:IepcvRequestWCF">
    <wsp:PolicyReference URI="#DefaultLive_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemTypes">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/GetItemTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemType">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/GetItemType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/GetTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/GetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutRequest">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/PutRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadFingerprint">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/UploadFingerprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutAddInfoText">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/PutAddInfoText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutRequestDocument">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/PutRequestDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutAddInfoDocument">
      <soap:operation soapAction="www.mie.co.za/IepcvRequestWCF/PutAddInfoDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TokenExceptionFault">
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
        <soap:fault use="literal" name="TokenExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="epcvRequestWCF">
    <wsdl:port name="DefaultLive" binding="tns:DefaultLive">
      <soap:address location="https://www.mie.co.za/secure/services/epcvRequestWCF/epcvRequestWCF.svc" />
    </wsdl:port>
    <wsdl:port name="DefaultTest" binding="tns:DefaultLive">
      <soap:address location="http://www.mie.co.za/testservices/epcvRequestWCF/epcvRequestWCF.svc" />
    </wsdl:port>
    <wsdl:port name="DefaultDev" binding="tns:DefaultLive">
      <soap:address location="http://localhost:55031/epcvRequestWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>